*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #dadada;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}

svg {
  padding: 20px;
  overflow: visible;
  /* animation: rotate 20s linear infinite; */
}

svg:hover {
  animation-play-state: paused;
}

svg > path {
  transform-origin: center;
  transition: transform 0.4s ease;
}

svg > path:hover {
  transform: scale(1.15);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#era-shape {
  position: relative;
  width: 500px;
}

#era-shape > span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0.9;
}
